[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
lightfm = "*"
scikit-surprise = "*"
pandas = "*"

[dev-packages]
ipython = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
